@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;500&display=swap');
:root {
  --header-footer-color: #c7fd30;
  --highlight-color: #313131;
  /* --highlight-color: #154af8; */
  --highlight-link-color: #c7fd30;
  --highlight-link-dotted: #a8a8a8;
  --main-color: #222;
}

html {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 300;
  font-size: 36px;
}

body {
  max-width: 1440px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.034);
}

main {
  background-color: var(--highlight-color);
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: right;
  /* background-color: hsla(86, 100%, 37%);
  padding: 15px; */
}

h2 {
  font-weight: 700;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

nav ul {
  margin: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding-right: 0.5rem;
}

nav ul li a {
  color: #222;
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

form {
  background-color: var(--highlight-color);
  color: #fff;
  padding: 0 15%;
  display: grid;
  grid-template-columns: auto;
}

form > div {
  display: flex;
  justify-content: center;
}

input,
textarea {
  font-size: 1rem;
  border-radius: 9px;
  border: solid 2px var(--highlight-color);
  background-color: #fff;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  padding: 0.4rem 5%;
  border-radius: 9px;
  border: solid 3px #e7e7e7;
  margin: 0.25rem;
  background-color: #e7e7e7;
  color: #000;
}

header {
  background-color: var(--header-footer-color);
  color: #222;
  font-size: 0.67rem;
  font-weight: 700;
  text-align: right;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

footer {
  background-color: var(--header-footer-color);
  color: #222;
  font-size: 0.67rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#copyright-info {
  font-size: 0.45rem;
}

.contact-ally-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  padding: 0.4rem 5%;
  border-radius: 9px;
  border: solid 3px var(--highlight-link-color);
  margin: 0.25rem;
  background-color: var(--highlight-link-color);
  color: #000;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
}

.hero h1 {
  color: var(--highlight-link-color);
  text-shadow: 8px 6px var(--main-color);
  position: absolute;
  bottom: 0;
  right: 1rem;
}

#contact-me h2 {
  margin: 0;
  text-align: center;
}

#portfolio-section {
  position: relative;
}

#portfolio-section img {
  width: 100%;
}

#portfolio-section > div {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

#portfolio-section > div > h2 {
  color: #fff;
  margin: 0;
}

#portfolio-section > div > a {
  color: var(--highlight-link-color);
  text-decoration: underline dotted var(--highlight-link-dotted);
  font-size: 2rem;
  margin: 0;
}

#my-story {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: var(--highlight-color);
  color: #fff;
}

#my-story h2 {
  margin: 1rem 0;
  color: #fff;
}

.highlight {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--highlight-color);
}

.highlight h2 {
  color: #fff;
}

.highlight a {
  color: var(--highlight-link-color);
  text-decoration: underline dotted var(--highlight-link-dotted);
  font-size: 2rem;
}

.highlight.invert {
  flex-direction: row-reverse;
}

.highlight > div {
  flex-grow: 1;
}

.highlight > img {
  max-width: 50%;
}

span.kids {
  background: var(--header-footer-color);
  border-radius: 0.4em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 1px;
  text-align: center;
  width: 1.6em;
}

#work-item-header {
  margin: 0;
  text-align: center;
}

#work-item-image {
  width: 100%;
  margin-bottom: 1rem;
}

.work-item-text {
  padding: 0.3rem 15%;
}

.work-item-text p,
.work-item-text ul {
  margin-top: 0;
  color: #fff;
}

.work-item-text h3 {
  margin-top: 0;
  margin-bottom: 0.05rem;
  color: #fff;
}

.center-items {
  text-align: center;
}

.see-more {
  color: var(--header-footer-color);
  text-align: center;
  font-size: 2rem;
  text-decoration: underline dotted var(--highlight-link-dotted);
}

@media screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #portfolio-section > div > a {
    font-size: 1rem;
  }

  .highlight a {
    font-size: 1.5rem;
  }

  .see-more {
    font-size: 1.5rem;
  }

  nav ul li a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
  html {
    font-size: 24px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #portfolio-section > div > a {
    font-size: 1rem;
  }

  .highlight a {
    font-size: 1.5rem;
  }

  .see-more {
    font-size: 1.5rem;
  }

  nav ul li a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 24px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #portfolio-section > div > a {
    font-size: 1.3rem;
  }

  .highlight a {
    font-size: 1.5rem;
  }

  .see-more {
    font-size: 1.5rem;
  }

  nav ul li a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 24px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  #portfolio-section > div > a {
    font-size: 1.5rem;
  }

  .highlight a {
    font-size: 2rem;
  }

  .see-more {
    font-size: 2rem;
  }

  nav ul li a {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1200px) {
}
